<h1>New User</h1>
<%= form_for @user do |f| %>
<div class="form-group">
   <%= f.label :first_name %>
   <%= f.text_field :first_name, class: 'form-control' %>
</div>
 <div class="form-group">
   <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control' %>
 </div>
 <div class="form-group">
   <%= f.label :DOB %>
   <%= f.date_field :DOB, class: 'form-control' %>
 </div>
 <%= f.submit 'Sign Up', class: 'btn btn-primary'%>
 <% end %>



<h1>All Users</h1>
<% @users.each do |u| %>
<%= u.first_name %>
<%= u.last_name %>
<%= u.DOB %>
<!-- how to change the date here? -->
<br>
<% end %>
